<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

          <!-- SIDEBAR -->
        <aside th:fragment="sidebar" class="sidebar">

            <h4>BROWSE</h4>

            <ul>
                <li>New Release <i class="fa-solid fa-chevron-down"></i></li>
                <li>Top Charts <i class="fa-solid fa-chevron-down"></i></li>
                <li>Top Playlists <i class="fa-solid fa-chevron-down"></i></li>
                <li>Podcasts <i class="fa-solid fa-chevron-down"></i></li>
                <li>Top Artists <i class="fa-solid fa-chevron-down"></i></li>
            </ul>

            <h4>LIBRARY</h4>

            <ul>
                <li><i class="fa-solid fa-clock"></i> History</li>
                <li><i class="fa-solid fa-heart"></i> Liked Songs</li>
                <li><i class="fa-solid fa-compact-disc"></i> Albums</li>
                <li><i class="fa-solid fa-podcast"></i> Podcasts</li>
                <li><i class="fa-solid fa-user"></i> Artists</li>
            </ul>

            <button class="playlist-btn">+ New Playlist</button>

        </aside>
</body>

</html>